.product {
  margin-top: 300px;
  display: flex;
  align-items: right;
  justify-content: center;
    max-width: 1000px;
  gap: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.product-image img {
  width: 200px;
  height: auto;
}

.product-details {
  display: flex;

  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.product-name {
 align-self: flex-start;
  font-size: 24px;
  font-weight: bold;
}

.product-description {
  margin-top: 10px;
}

.buy-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.price {
  font-size: 18px;
}
.offer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
