/* Стили для контейнера страницы */
.pageContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  gap: 20px;
  grid-template-areas:
    'sidebar content'
    'sidebar content';
}

/* Стили для блока сайдбара */
.sidebar {
  grid-area: sidebar;
  background-color: #041f5c;
  border-radius: 15px;
  padding: 20px;
}

/* Стили для блока с товарами */
.contentBlock {
  height: 100%;
  grid-area: content;
  background-color: #407a97;
  border-radius: 30px;
  padding: 20px;
}
.page {
  height: 100%;
}
