/* Стили для контейнера страницы */
.pageContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  gap: 30px;
  grid-template-areas:
    'search search'
    'sidebar productsBlock';
}

/* Стили для полоски сверху */
.topBar {
  grid-area: search;
  margin-bottom: 310px;
}

/* Стили для блока сайдбара */
.sidebar {
  grid-area: sidebar;
  border-radius: 30px;

  background-color: #4b95ce;
  padding: 20px;
}

/* Стили для блока с товарами */
.productsBlock {
  border-radius: 30px;
  grid-area: productsBlock;
  background-color: #47DEC7;
  padding: 20px;
}
